/* overlay */

.overlay {
  background-color: #00000075;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  transition: all 0.3s ease-in;
  z-index: 888;
}
.openOverlay {
  display: flex !important;
}

.closedOverlay {
  display: none !important;
}

/* cart */

.cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  padding: 3rem 2rem;
  background-color: white;
  height: 100%;
  width: 50rem;
  transition: all 0.3s linear;
}
.closedcart {
  transform: translateX(100%);
}
.opencart {
  transform: translateX(0);
}
.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-bottom: 20px;
}
.header h2 {
  font-size: 2.1rem !important;
}
.icon {
  font-size: 2.5rem;
  cursor: pointer;
}

/*empty cart */
.empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 16rem;
  margin: 15rem auto;
}
.empty img {
  width: 160px;
  height: 170px;
}
.empty p {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.empty button {
  width: 100%;
  height: 4.4rem;
  font-size: 1.7rem;
  margin-top: 3rem;
  cursor: pointer;
}

/*full cart */
.body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
  min-height: calc(100vh - 129px - 70px);
  padding: 5px;
}
.fullCart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* footer */

.footer {
  display: flex;
  flex-direction: column;
  border-top: 2px dashed #000;
  margin-top: 17px;
  padding-top: 10px;
  height: 100px;
  justify-content: center;
  justify-self: flex-end !important;
}
.title {
  font-weight: 800;
  color: #303030;
  font-size: 2rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 2.5rem;
  font-weight: 700;
}

.action {
  background-color: transparent;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  height: 50px;
  width: 48%;
  transition: 0.1s ease-in-out;
}
.action:hover {
  background-color: #000000;
  color: white;
}

@media (max-width: 420px) {
  .cart {
    width: 100%;
  }
}
