.button {
  cursor: pointer;
  font-size: 2.3rem;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.icon::after {
  content: "";
  top: -18px;
  position: absolute;
  left: 12px;
  font-size: 11px;
  background-color: #b6002c;
  color: white;
  padding: 5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  text-align: center;
  display: none;
}

.items::after {
  content: attr(data-array-length);
  top: -18px;
  position: absolute;
  left: 12px;
  font-size: 11px;
  background-color: #b6002c;
  color: white;
  padding: 5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  text-align: center;
  display: block;
}
.bump {
  animation: bump 300ms ease-out;
}
@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
