.homeContainer {
    padding-top: 12rem;
}
.gridContainer {
    display: grid;
    height: 50rem;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'one two three' 'one two four';
    gap: 1.25rem;
    margin-top: 1.3rem;
}

.featured {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in;
}
.description {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: white;
    font-size: 3.2rem;
    font-weight: 600;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

@media (max-width:750px) {
    .gridContainer {
        height: 500px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "one two"
            "three four";
        grid-gap: 13px;
        gap: 13px;
    }
}

@media (max-width:450px) {
    .description {
        bottom: 1rem;
        left: 1rem;
        font-size: 2rem;
    }
}

@media (max-width:400px) {
    .description {
        bottom: 1rem;
        left: 0.5rem;
        font-size: 1.8rem;
    }
}