.navbar {
    -webkit-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 19px;
}
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
    transition: height 0.1s linear;
}
.navContainer.sticky {
    height: 8rem !important;
}
.logo {
    width: 8.5rem;
    height: auto;
    cursor: pointer;
}
.links {
    font-size: 1.8rem;
    text-transform: uppercase;
    display: flex;
    gap: 2.5rem;
}
.links a {
    color: #000000;
    text-decoration: none;
}
.links a:hover {
    text-decoration: underline;
}
.links i {
    cursor: pointer;
}