.product {
  outline: 2px solid rgba(0, 0, 0, 0.205);
  outline-offset: -2px;
  transition: all 0.15s ease-in;
  cursor: pointer;
  height: 40rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.product:hover {
  outline: 2px solid rgba(0, 0, 0, 0.7);
}

.image {
  box-sizing: border-box;
  object-fit: contain;
  width: 25rem;
  max-height: 20rem;
  padding: 2px;
}
.details {
  font-size: 1.7rem;
  padding: 1rem;
  text-align: center;
  height: 4rem;
}
.price {
  font-weight: 600;
  font-size: 2.2rem;
}
