.mainContainer {
    padding: 11rem 0;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 19px;
}
.title{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 4.2rem !important;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.product {
    outline: 2px solid rgba(0, 0, 0, .205);
    outline-offset: -2px;
    transition: all 0.15s ease-in;
    cursor: pointer;
    width: 270px;
    height: 400px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

.product:hover {
    outline: 2px solid rgba(0, 0, 0, .7);
}
.flexbox a{
    text-decoration: none;
    color: black;
}
.image{
    box-sizing: border-box;
    object-fit: contain ;
    width: 250px;
    max-height: 200px;
    padding: 2px;
}
.details {
    font-size: 20px;
    padding: 5px;
    text-align: center;
    height: 40px;
}
.price {
    font-weight: 600;
    font-size: 24px;
}

/* mobile */
@media (max-width: 700px) {
    .flexbox{
        justify-content: center;
    }
    .product{
        width: 250px;        
    }
    .title{
        font-size: 28px;
    }
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .product{
        width: 220px;        
    }
    .title{
        font-size: 34px;
    }
  }