.trending {
  padding-bottom: 10rem;
}
.trending h3 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 4.2rem !important;
}
.rowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2.2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  position: relative;
  padding: 1rem 0.6rem;
}
.rowContainer a {
  text-decoration: none;
  color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.rowContainer::-webkit-scrollbar {
  display: none;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar {
  display: flex;
  justify-content: space-between;
}

.btns button {
  color: white;
  background-color: #373737;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btns {
  display: flex;
  gap: 0.4rem;
}

.btns button:hover {
  background-color: black;
}
